.background{
    width: 100%;
    min-height: 50vh;
    background-color: $marron;

    .container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: $beige;
        min-height: 15vh;
        text-align: center;
        color: $marron;
        font-size: 20px;
        font-weight: 600;
        margin: 50px auto;
    }
}
.paiement{
    background-color: $beige;
    width: 100%;
    h2{
        padding-top: 10px;
        text-align: center;
    }
    .delivery{
        background-color: white;
        width: 30%;
        margin:30px auto;
        padding: 20px;
        span{
            font-weight: 600;
        }
        .adress{
            border: 1px solid $marron;
            width: 50%;
            margin: 20px auto;
            padding: 10px;
        }
        .container-btn{
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            .btn{    
                display: flex;
                justify-content: center;
                align-items: center;
                color: $marron;
                border: $marron 1px solid;
                padding: 10px;
                transition: all ease-in 0.15s;
                width: 30%;
                text-align: center;
                margin: 20px;   
            }
            .btn:hover{
                background-color: $marron;
                color: $beige;
                cursor: pointer;
            }
        }
    }
    .bottom{
        height: 1px;
    }
}
@media screen and (max-width: 900px){
    .paiement{
        .delivery{
            width: 70%;

        }


    }

    .background{
        min-height: 70vh;


        .container{
            width: 80%;
            padding: 20px;
            
        }
    }
}
@media screen and (max-width: 500px){
    .paiement{
        .delivery{
            width: 70%;
            .container-btn{
                    flex-direction: column;
                    .btn{
                        width: 70%;
                        margin: 10px auto ;
                     }

            }
        }

    }
}